* {
  padding: 0;
  margin: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anta&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anta&family=Kode+Mono:wght@400..700&display=swap");

:root {
  --col-1: #059bff;
  --col-2: black;
  --col-3: white;
  --col-4: #888888;
  --col-5: rgb(93, 109, 126);
  --font-1: "Anta", sans-serif;
  --font-2: "Kode Mono", monospace;
  --font-3: "Noto Sans", sans-serif;
  --font-4: "Quicksand", sans-serif;
}

body {
  background-color: whitesmoke;
  position: fixed;
  width: 100%;
}

.container::-webkit-scrollbar {
  display: none;
}

.container {
  width: 85%;
  float: right;
  background-color: var(--col-3);
  height: 100vh;
  transition: 0.5s;
  z-index: 99;
  overflow-y: scroll;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.conta {
  width: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 25px 30px;
  align-items: center;
  border-top-left-radius: 50px;
  background-color: var(--col-3);
}

header a {
  text-decoration: none;
  font-size: 30px;
  color: var(--col-1);
  font-family: var(--font-1);
}

.menu-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.menu-bar h3 {
  font-size: 25px;
  display: none;
  cursor: pointer;
}

.bar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
}

.bar input {
  position: absolute;
  width: 20px;
  height: 20px;
  opacity: 0;
  cursor: pointer;
}

.bar span {
  height: 2.5px;
  width: 23px;
  border-radius: 50px;
  background-color: var(--col-2);
}

.bar span:nth-child(3) {
  background-color: var(--col-1);
}

nav {
  position: absolute;
  width: 13%;
  left: 0;
  top: 0;
  z-index: -1;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin: 20px 15px;
  border-radius: 20px;
  background-color: var(--col-3);
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.profile h4 {
  font-family: var(--font-2);
  color: var(--col-2);
  background-color: var(--col-1);
  padding: 10px 15px;
  letter-spacing: 1.5px;
  border-radius: 20px;
  position: absolute;
  top: -10px;
}

.profile img {
  width: 90px;
  margin-top: 50px;
}

.p-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 14px;
}

.p-text p {
  font-family: var(--font-4);
  color: black;
  font-size: 10px;
  letter-spacing: 2px;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 20px;
}

nav li {
  list-style: none;
  position: relative;
  height: 20px;
}

nav li::after {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  bottom: 0;
  top: 100%;
  width: 100%;
  height: 2px;
  background-color: var(--col-1);
  transform-origin: left;
  transform: scaleX(0);
  transition: transform 0.5s;
  border-radius: 50px;
}

nav li:hover::after {
  transform-origin: left;
  transform: scaleX(1);
}

nav a {
  color: black;
  text-decoration: none;
  font-family: var(--font-4);
  font-size: 14px;
}

.date {
  padding: 15px;
  background-color: var(--col-3);
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: var(--font-3);
}

.terminal {
  height: 80vh;
  margin: 20px;
}

footer p {
  font-weight: 100;
  font-family: var(--font-4);
  font-size: 12px;
  text-align: center;
  padding: 15px 0;
}

@media screen and (max-width: 1050px) {
  header a {
    font-size: 20px;
  }

  .container {
    z-index: 999;
    overflow-x: hidden;
  }

  nav {
    display: none;
  }

  .nav {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 50px;
    background-color: var(--col-3);
    height: 100vh;
    padding: 25px;
    padding-top: 90px;
    margin: 13px 8px;
    border-radius: 30px;
    gap: 20px;
    width: 20px;
    z-index: -9;
  }

  .nav img {
    width: 50px;
    position: absolute;
    border-radius: 50px;
    left: 10px;
    right: 0;
    top: 10px;
  }

  .nav a {
    color: var(--col-2);
  }

  .bar {
    position: absolute;
    left: 32px;
    top: 30px;
  }

  .container {
    width: 76%;
  }

  .conta {
    width: 100%;
  }
}
